:root {
  --main-bg-color: #FFFFFF;
  --main-text-color:#212121;
  --blue: #2196F3;
  --white: #ffffff;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin:0;
  padding:0;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
}
.header {
  background-color: var(--white);
  height: 80px;
  width: 1600px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  gap: 93px;
  border-bottom: 1px solid #ececec;
}
.header-wrapper {
  display: flex;
  align-items: center; 
}

.nav-container {
  display: flex;
  flex-direction: row;
  gap:46px;
  line-height: 1.2;
  padding: 0;
  margin-left: 93px;
}
.navigation-links-position {
  padding: 0 auto;
}
.title-background {
  background-color: #2F303A;
  height: 600px;
  width: 1600px;
  padding: 200px 0;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.webstudio-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.webstudio-logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
}
.without-underline {
  text-decoration: none;
}
.blue-text {
  color: var(--blue);
}
.nav-links {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;

}
.nav-links:hover {
  color: var(--blue);
  text-decoration: none;
}
.nav-links:focus {
  color: var(--blue);
}
.contacts {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
   
}
.contacts:hover {
  color: var(--blue);
  fill: var(--blue);
  text-decoration: none;
}
.contacts:focus {
  color: var(--blue);
}
.nav-contacts {
  margin-left: 250px;
  gap: 50px;
  list-style: none;
  display: flex;
  flex-direction: row;
}
address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white);
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  color: #FFFFFF99;
  text-decoration: none;
  padding: 0;
}
footer {
  background-color: #2F303A;
  height: 252px;
  width: 1600px;
  margin: auto;
  padding: 60px 0 0 0;
  flex-direction: column;
}

.contacts-list {
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  gap: 9px;
}
h1 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
h2 {
  font-family: 'Roboto';
  font-style: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-align: center;
}
.what-we-do {
  margin-top: 94px;
}

.button-service-ordering {
  background-color: var(--blue);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white);
  
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 10px 41px 10px 42px;
}

h4 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-color);
}
h5 {
  font-family: 'Roboto';
  font-style: bold;
  font-size: 18px;
  line-height: 2;
}
.profession {
  font-size:16px;
  line-height: 1.19;
  color: #757575;
  margin: 0 0 30px 0;
}
.description {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
.portfolio-type {
  font-family: 'Roboto';
  font-size: 16px;
  Line-height: 1.87;
  margin:0 0 0 24px;
}
.portfolio-first-button {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-decoration: none;
  border: 0em;
  border-radius: 4px;
  background-color: var(--blue);
  color: var(--white);
}

.portfolio-button {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-decoration: none;
  border: 0em;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: var(--main-text-color);
}

.portfolio-button:hover {
  
  border: var(--blue) solid;
  border-radius: 4px;
  text-decoration: underline;
  text-decoration-color: var(--blue);
  background-color: var(--blue);
  color: var(--white);
}
.no-dots-list{
  list-style: none;
  padding-left: 0;
}

.short-descriptions {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 30px;
  margin
} 
.team-header {
  padding-top: 94px;
}
.services {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
}
.team-container {
  background-color: #F5F4FA;
  height: 648px;
  width: 1600px;
  margin: auto;
}
.team-members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.team-card {
  background-color: var(--white);
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.team-card-name {
  margin: 30px 0 10px 0;
}
.row-of-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  margin-bottom: 56px;
}
.services-offer  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
  flex-basis: calc((100% - 6px) / 3);
}
.service-card {
  width: 370px;
  height: 404px;
  border: #EEEEEE solid 1px;
}
.product-header {
  margin: 20px 0 4px 24px;
}
.picture {
  width: 1600px;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.with-bg {
  background-color: #2F303A70;
}
.with-picture {
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), 
    url('../images/image-background.png');
    
}
.header-icon {
  margin-right: 10px;
  color: #757575;
}
.header-icon:hover,
.icons-descriptions:hover {
  fill: var(--blue);
}
.box-icons-descriptions {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
  fill: var(--main-text-color);
}
.icons-descriptions {
  fill: var(--main-text-color);
}
.box-icons-descriptions:hover,
.box-icons-descriptions:focus {
  border: solid var(--blue);
  fill: var(--blue);
}
.icons-descriptions:hover {
  fill: var(--blue);
}